body{
    margin: 10px;
   }
#header{
    display: inline-block;
    height: 50vh;
    width: 100%;
}
#fon {
    background-color: #9c27b09e;
    opacity: 0.5;
    height: 51vh;
    width: 49.1%;
    top: 1px;
    position: absolute;
}
#aboutme{
    width: 49.1%;
    height: 50vh;
    position: absolute;
    right: 10px;
    overflow: hidden;
    background-color: antiquewhite;

}
#backimage {
    width :100%;
    height: 50vh;
    margin:0 10px

}
#parentdiv{
    position: relative;
}
h1{
    width: 50%;
    top: 10vh;
    margin: auto;
    text-align: center;
}

.aboutme{
        width: 40%;
    border-bottom: 1px groove black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 40vh;
    margin: 30px;
}
#aboutmeImg{
    display: block;
    margin: auto;
    height: 50px;
}
a{
    float: right;
    margin-right: 100px;
       right: 5px;right: 5px;
}

.parag{
    text-align: center;
    width: 40%;
    right: 2px;
    margin: auto;
}
#lists{
    display: flex;
}
h2 {
text-align: center;
}
ul {
list-style-type: none;
}
.mark{
height: 30px;
width: 30px;
float: right;
margin-right: 10px;
margin-top: 5px;
}

